# Choir Division RH and temp data

Here I will upload one area (the choir division) of sampling from St. Paul's chapel pipe organ.

In [133]:
# a. I call in the necessary libraries to complete my functions later on
import pandas as pd
import numpy as np

# cell magic--shows plots in notebook instead of another window
%matplotlib inline 

from pandas import set_option
set_option('display.max_rows', 5) #iPython notebook will display a maximum of 10 rows of the dataset

In [145]:
# I load the dataset, which only worked when I provided the absolute path. This notebook is loced in "assignment_5" directory located on the Desktop, the data file is located on the Desktop.

filename = '/Users/shubbymartz-oberlander/Desktop/Choir_Division_0.csv'

In [80]:
#I bring in the table called filename= Choir_Division_0 with commas separating the data points

choir_division = pd.read_table(filename, sep = ',')
choir_division

                                                                                                                                                                                  ﻿"Plot Title: Choir Division"
#   Date Time, GMT-05:00  Temp, °C (LGR S/N: 1041238, SEN S/N: 1041238) RH, % (LGR S/N: 1041238, SEN S/N: 1041238) Host Connected (LGR S/N: 1041238) Stopped (LGR S/N: 1041238)  End Of File (LGR S/N: 1041238)
1   02/18/10 02:00:00  PM 20.138                                        29.03                                      NaN                               NaN                                                    NaN
...                                                                                                                                                                                                         ...
579 03/02/10 02:57:22  PM NaN                                           NaN                                        Logged                            NaN                                                    NaN
580 03/02/10 02:57:45  PM NaN                                           NaN                                        NaN                               Logged                                              Logged

[581 rows x 1 columns]

In [81]:
# I look at shape to see why Python says there are "581 rows x 1 columns"
#The "shape" method says there are 581 rows of data and 1 column. However, I can see 6 columns.

choir_division.shape

(581, 1)

__b.__ I use Pandas library to import my data because it includes numbers and words (--or strings of characters--for the column names); because I will eventually be compiling multiple datasets into larger ones for computational comparrison across time; and because my data is not cleanly organized currently, and Pandas will allow me to format into a more rectangular set with reorganized columns and indices.

I first used HOBOware to convert my .hobo data file into a .csv.

In this iPython notebook I used the commands: 
>filename = ' [the name of the file of data stored on my computer']

Here I had to provide the absolute path to the data file on my computer because Python said "file does not exist" when I just entred 'Desktop/Choir_Division_0.csv'.

so that I can select the desired file and be able to refer to the file later on with a simpler name;
>[name of dataset] = pandas library.read the file_it's a table(the file name I'm importing, the type of separators between data points)

1. I name the dataset choir_division

2. I want to bring in a 'table' of data

3. The separator is a comma becasue I saved the file as a .csv (comma separated value(s))

# C. Function 1: Rename Columns

In [119]:
# I want to rename the columns so they read clearly without the coded stamps that HOBOwear added.

choir_division.columns = ['Temp']
choir_division

                                                                                                                                                                                                           Temp
#   Date Time, GMT-05:00  Temp, °C (LGR S/N: 1041238, SEN S/N: 1041238) RH, % (LGR S/N: 1041238, SEN S/N: 1041238) Host Connected (LGR S/N: 1041238) Stopped (LGR S/N: 1041238)  End Of File (LGR S/N: 1041238)
1   02/18/10 02:00:00  PM 20.138                                        29.03                                      NaN                               NaN                                                    NaN
...                                                                                                                                                                                                         ...
579 03/02/10 02:57:22  PM NaN                                           NaN                                        Logged                            NaN                                                    NaN
580 03/02/10 02:57:45  PM NaN                                           NaN                                        NaN                               Logged                                              Logged

[581 rows x 1 columns]

I was successful in renaming one column, the last one to "Temp". However, when I try to rename all columns, I am told there are too many titles for columns because Python thinks I only have 1 column. This confirms my earlier suspicion that Python doesn't recognize the Temp, RH, and other columns as array axes. Additionally, Python appended the new title I gave it to the top of replacing the old one, which makes me think it doesn't recognize the top cell of the last column as a title.

In [147]:
#Maybe it doesn't process the columns because of this: 

# When I ask what type of index is used, I'm told there are multiple types of dataframe indices, which could mean there's confusion about which cells are titles/labels and which are data points
type(choir_division.index)

pandas.core.index.MultiIndex

In [153]:
#I check the type of data file I have here. It says it's uploaded in Pandas, and is a frame of data (as opposed to a series)
type(choir_division)

pandas.core.frame.DataFrame

In [154]:
# This tells me the type of data of the index. It appears to be a string item "O" [oh]
choir_division.index.dtype

dtype('O')

In [159]:
#This function tells me the name of the data type that Numpy uses. This says I have a 32-bit integer, and "Effective Communication in the Physical Sciences" tells me it is interchangeable with C and C++.

choir_division=np.dtype('>i4')
choir_division.name

'int32'

#Function 2: Calculating temp in Kelvin from temp in C

In [137]:
# calculating temperature in Kelvin from the data by cross-operations of columns and making a new column
#First, I'll grab, the only column I could name, 'Temp'.

choir_division['Temp']

#    Date Time, GMT-05:00   Temp, °C (LGR S/N: 1041238, SEN S/N: 1041238)  RH, % (LGR S/N: 1041238, SEN S/N: 1041238)  Host Connected (LGR S/N: 1041238)  Stopped (LGR S/N: 1041238)    End Of File (LGR S/N: 1041238)
1    02/18/10 02:00:00  PM  20.138                                         29.03                                       NaN                                NaN                                                      NaN
                                                                                                                                                                                                     ...
579  03/02/10 02:57:22  PM  NaN                                            NaN                                         Logged                             NaN                                                      NaN
580  03/02/10 02:57:45  PM  NaN                                            NaN                                         NaN                                Logged                                                Logged
Name: Temp, dtype: object

In [152]:
# To change temp from K to C I can use the following function:

def c2k (Temp):
    Temp_Kelvin = Temp + 273.15
    return Temp_Kelvin

#And I can make a new column for Temp_Kelvin

choir_division('temp_kelvin')=choir_division('Temp')+(273.15)

SyntaxError: can't assign to function call (<ipython-input-152-530c474ab745>, line 9)

# Function 3: Calculating mean of data for each hour of collection

In [144]:
from datetime import datetime as dt-

choir_resampled = choir_division.resample('H', how=('median')).reindex(df.index)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex