In [57]:
# Import Libraries
import pandas as pd
import numpy as np

#show plot in notebook
%matplotlib inline 

#limits amount of lines pandas prints out
from pandas import set_option 
set_option('display.max_rows', 15)

In [52]:
#creating a string that contains the filename, for when a file name is very long. Makes it more readable.
filename = 'Sales Data.xlsm'

df = pd.read_excel(filename, sheetname = '2013 - 2014')
#To load dataset from excel into python, specified taking data from one sheet called '2013 -2014'. 
df     #To print out the data

,Exchange rate,Location,Section,Date,Customer,Field,Sales Amount,Year of first order
0,1.000,CAD,1,2013-10-17,KCA RENO,mining,270.00,NaN
1,1.000,CAD,1,2013-08-02,Mechanical Engineering,other,1803.00,NaN
2,1.000,CAD,1,2013-10-22,NB Transit,public transit,2982.00,NaN
3,1.074,NaN,0,NaT,Rock-Tenn,pulp & paper,5869.00,2006-08-01 00:00:00
4,1.000,CAD,2,2014-03-28,SAIC,other,2469.92,NaN
5,1.074,NaN,1,2013-11-08,Saiti Espress Inc,other,500.00,2013-11-01 00:00:00
6,1.000,CAD,1,2013-11-26,Teledyne,other,3511.01,NaN
...,...,...,...,...,...,...,...,...
259,1.000,NaN,2,2014-02-19,Weatherford,NaN,250.00,NaN
260,1.000,NaN,2,2014-03-14,Weatherford,NaN,4377.74,NaN
261,1.000,NaN,2,2014-03-18,Weatherford,NaN,1736.47,NaN
262,1.000,NaN,2,2014-03-19,Weatherford,NaN,1803.00,NaN
263,1.000,NaN,2,2014-05-02,Weatherford,NaN,213.00,NaN
264,1.000,NaN,2,2014-05-02,Weatherford,NaN,3462.00,NaN
265,1.000,NaN,2,2014-07-02,Weatherford,NaN,4807.00,NaN

# I used the pandas library to load the dataset, because this datset includes both text and numbers. Pandas is an appropriate library to use when data is heterogenous. This data was in an excel sheet, which is why I needed to use read_excel to read the data.

In [53]:
df = df[pd.notnull(df['Date'])]  #This function deletes all rows which do not contain a date in the date column. 
df

,Exchange rate,Location,Section,Date,Customer,Field,Sales Amount,Year of first order
0,1.000,CAD,1,2013-10-17,KCA RENO,mining,270.00,NaN
1,1.000,CAD,1,2013-08-02,Mechanical Engineering,other,1803.00,NaN
2,1.000,CAD,1,2013-10-22,NB Transit,public transit,2982.00,NaN
4,1.000,CAD,2,2014-03-28,SAIC,other,2469.92,NaN
5,1.074,NaN,1,2013-11-08,Saiti Espress Inc,other,500.00,2013-11-01 00:00:00
6,1.000,CAD,1,2013-11-26,Teledyne,other,3511.01,NaN
7,1.000,CAD,2,2014-03-18,Atco Gas,energy (natural gas),3189.00,2014-03-01 00:00:00
...,...,...,...,...,...,...,...,...
259,1.000,NaN,2,2014-02-19,Weatherford,NaN,250.00,NaN
260,1.000,NaN,2,2014-03-14,Weatherford,NaN,4377.74,NaN
261,1.000,NaN,2,2014-03-18,Weatherford,NaN,1736.47,NaN
262,1.000,NaN,2,2014-03-19,Weatherford,NaN,1803.00,NaN
263,1.000,NaN,2,2014-05-02,Weatherford,NaN,213.00,NaN
264,1.000,NaN,2,2014-05-02,Weatherford,NaN,3462.00,NaN
265,1.000,NaN,2,2014-07-02,Weatherford,NaN,4807.00,NaN

In [55]:
# Creating a new column in the data set, which puts all sales amounts in Candian dollars. 
df['Sales in CAD'] = df['Exchange rate'] * df['Sales Amount'] 
df

C:\Users\mim\Anaconda3\lib\site-packages\IPython\kernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

,Exchange rate,Location,Section,Date,Customer,Field,Sales Amount,Year of first order,Sales in CAD
0,1.000,CAD,1,2013-10-17,KCA RENO,mining,270.00,NaN,270.00
1,1.000,CAD,1,2013-08-02,Mechanical Engineering,other,1803.00,NaN,1803.00
2,1.000,CAD,1,2013-10-22,NB Transit,public transit,2982.00,NaN,2982.00
4,1.000,CAD,2,2014-03-28,SAIC,other,2469.92,NaN,2469.92
5,1.074,NaN,1,2013-11-08,Saiti Espress Inc,other,500.00,2013-11-01 00:00:00,537.00
6,1.000,CAD,1,2013-11-26,Teledyne,other,3511.01,NaN,3511.01
7,1.000,CAD,2,2014-03-18,Atco Gas,energy (natural gas),3189.00,2014-03-01 00:00:00,3189.00
...,...,...,...,...,...,...,...,...,...
259,1.000,NaN,2,2014-02-19,Weatherford,NaN,250.00,NaN,250.00
260,1.000,NaN,2,2014-03-14,Weatherford,NaN,4377.74,NaN,4377.74
261,1.000,NaN,2,2014-03-18,Weatherford,NaN,1736.47,NaN,1736.47
262,1.000,NaN,2,2014-03-19,Weatherford,NaN,1803.00,NaN,1803.00
263,1.000,NaN,2,2014-05-02,Weatherford,NaN,213.00,NaN,213.00
264,1.000,NaN,2,2014-05-02,Weatherford,NaN,3462.00,NaN,3462.00
265,1.000,NaN,2,2014-07-02,Weatherford,NaN,4807.00,NaN,4807.00

In [66]:
# load dataset but with date as an index
df = pd.read_excel(filename, sheetname = '2013 - 2014', index_col='Date')
df

,Exchange rate,Location,Section,Customer,Field,Sales Amount,Year of first order
Date,,,,,,,
2013-10-17,1.000,CAD,1,KCA RENO,mining,270.00,NaN
2013-08-02,1.000,CAD,1,Mechanical Engineering,other,1803.00,NaN
2013-10-22,1.000,CAD,1,NB Transit,public transit,2982.00,NaN
NaT,1.074,NaN,0,Rock-Tenn,pulp & paper,5869.00,2006-08-01 00:00:00
2014-03-28,1.000,CAD,2,SAIC,other,2469.92,NaN
2013-11-08,1.074,NaN,1,Saiti Espress Inc,other,500.00,2013-11-01 00:00:00
2013-11-26,1.000,CAD,1,Teledyne,other,3511.01,NaN
...,...,...,...,...,...,...,...
2014-02-19,1.000,NaN,2,Weatherford,NaN,250.00,NaN
2014-03-14,1.000,NaN,2,Weatherford,NaN,4377.74,NaN
2014-03-18,1.000,NaN,2,Weatherford,NaN,1736.47,NaN
2014-03-19,1.000,NaN,2,Weatherford,NaN,1803.00,NaN
2014-05-02,1.000,NaN,2,Weatherford,NaN,213.00,NaN
2014-05-02,1.000,NaN,2,Weatherford,NaN,3462.00,NaN
2014-07-02,1.000,NaN,2,Weatherford,NaN,4807.00,NaN

In [68]:
df_resampled = df.resample('M', how=('mean'))     #Data will be downsampled to month.

ValueError: Shape of passed values is (3, 13), indices imply (3, 12)

In [ ]:
grouped_df = df.groupby('Date')   #Group by some sort of category. In this case grouping by date. 
grouped_df

In [23]:
# To grab specific columns from data set to show only these columns.
df[['Customer', 'Field']]

                    Customer           Field
0                   KCA RENO         mining
1    Mechanical Engineering            other
2                 NB Transit  public transit
3                  Rock-Tenn    pulp & paper
4                       SAIC           other
..                       ...             ...
261              Weatherford             NaN
262              Weatherford             NaN
263              Weatherford             NaN
264              Weatherford             NaN
265              Weatherford             NaN

[266 rows x 2 columns]

# I first used the notnull function to delete rows that did not contain a date. This deleted rows that were sums of other rows (deleted duplicates). This gave me a more accurate representation of how many seperate orders were placed in the year with the new number of rows. 
#Second, I used a function to create a new column in the dataset which represented all sales in the same currency (CAD). This gives me a more accurate representation of total sales values. 
#Lastly, I used the index_col function which made the Date column the index of the data set. This will help resample the data according to Date for further research.